/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
yarn.lock

# .idea files #
.idea

# app.css
public/css/app.css

# app.js
public/js/app.js

# mix-manifest.json
public/mix-manifest.json
